# Set env variables
.env

# used virtual environment to create the requirements.txt
/env
.DS_Store
data/*
analysis.ipynb
mongo_data/*
!.gitkeep
__pycache__/
TODOs.txt
logs/
plugins/
test.py

# This is where the stockfish engine is stored
stockfish/